<nav class="navbar navbar-expand-lg navbar-light">
  {% include navbar-brand.html %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item {% if layout.active == "home" %}active{% endif %}">
        <a href="/" class="nav-link">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a href="https://blog.orangejellyfish.com" class="nav-link">Blog</a>
      </li>
      <li class="nav-item">
        <a href="https://github.com/orangejellyfish" class="nav-link">See our code</a>
      </li>
      <li class="nav-item">
        <a href="mailto:hello@orangejellyfish.com" class="nav-link">Get in touch</a>
      </li>
    </ul>
  </div>
</nav>
