// Fonts.
@font-face {
  font-family: "Sofia Pro Soft";
  src: url("/assets/fonts/sofia-pro-soft-regular.eot");
  src: url("/assets/fonts/sofia-pro-soft-regular.eot?#iefix") format("embedded-opentype"),
       url("/assets/fonts/sofia-pro-soft-regular.woff2") format("woff2"),
       url("/assets/fonts/sofia-pro-soft-regular.woff") format("woff"),
       url("/assets/fonts/sofia-pro-soft-regular.ttf") format("truetype"),
       url("/assets/fonts/sofia-pro-soft-regular.svg#sofia-pro-soft-regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FontAwesome";
  src: url("/assets/fonts/fontawesome.eot");
  src: url("/assets/fonts/fontawesome.eot?#iefix") format("embedded-opentype"),
       url("/assets/fonts/fontawesome.woff2") format("woff2"),
       url("/assets/fonts/fontawesome.woff") format("woff"),
       url("/assets/fonts/fontawesome.ttf") format("truetype"),
       url("/assets/fonts/fontawesome.svg#fontawesome") format("svg");
  font-weight: normal;
  font-style: normal;
}

// Configure Bootstrap.
@import "variables";
@import "bootstrap/bootstrap";

// Custom Bootstrap overrides.
@import "orangejellyfish/type";
@import "orangejellyfish/jumbotron";
@import "orangejellyfish/navbar";
@import "orangejellyfish/buttons";

// Page-specific styles.
@import "orangejellyfish/pages/home";

// Global styles.
html {
  height: 100%;
}

body {
  @include media-breakpoint-up(md) {
    height: 100%;
  }
}

hr {
  width: 50px;
  margin-bottom: 2em;
}

.section {
  padding: $navbar-padding-y $navbar-padding-x;
}

.page-footer {
  background-color: #191919;
  color: #fff;
  padding: $navbar-padding-y $navbar-padding-x;

  @include media-breakpoint-down(xs) {
    .copyright {
      text-align: center;
      padding-top: 1em;
    }
  }
}
