body.home {
  position: relative;
  height: 100%;
}

.section-splash {
  color: #fff;
  min-height: 100vh;
  height: 100%;
  overflow: auto;
  padding: 0 !important;
}

.ticker-text {
  font-size: 4rem;
  min-height:6rem;
}

@include media-breakpoint-down(xs) {
  .ticker-text {
    font-size:2.5rem;
    min-height:8rem;
  }
}

.team-member {
  .photo {
    $photo-diameter: 175px;

    width: $photo-diameter;
    border-radius: $photo-diameter / 2;
    display: block;
    margin-bottom: 1em;
  }
}

.section-tech {
  background-image: url(/assets/media/desk.jpg);
  background-size: cover;
  position: relative;
  color: #fff;

  &:after {
    content: '';
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  > .container-fluid {
    position: relative;
    z-index: 1;
  }

  .tech-logo {
    $logo-diameter: 175px;

    background-color: #eee;
    border-radius: 50%;
    width: $logo-diameter;
    height: $logo-diameter;
    margin: 0 auto;
  }
}
