body.home {
  position: relative;
  height: 100%;
}

.section-splash {
  color: #fff;
  min-height: 100vh;
  height: 100%;
  overflow: auto;
}

.ticker-text {
  font-size: 4rem;
  min-height:6rem;
}

@include media-breakpoint-down(xs) {
  .ticker-text {
    font-size:2.5rem;
    min-height:8rem;
  }
}
