---
layout: default
active: home
---
<div class="section section-splash">
  {% include nav.html %}
  <div class="jumbotron-video-wrapper">
    <div class="jumbotron-video-overlay"></div>
    <video poster="{{ "/assets/media/cap.png" | relative_url }}" playsinline autoplay muted loop class="jumbotron-video">
      <source src="{{ "/assets/media/jellyfish.mp4" | relative_url }}" type="video/mp4">
      <source src="{{ "/assets/media/jellyfish.webm" | relative_url }}" type="video/webm">
    </video>
  </div>
  <div class="jumbotron">
    <div class="container">
      <h2 class="ticker-text">We build things <span id="build-message">better.</span></h2>
      <p class="lead">
        orangejellyfish is a London-based consultancy with a passion for JavaScript, open source software and the cloud. We take great pride in what we build and maintain and we'd love to show you what we can do.
      </p>
      <div class="row justify-content-md-center">
        <div class="col col-md-3">
          <a href="https://github.com/orangejellyfish" class="btn btn-primary btn-lg btn-block">See our code</a>
        </div>
        <div class="col col-md-3">
          <a href="mailto:hello@orangejellyfish.com" class="btn btn-light btn-lg btn-block">Get in touch</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-team">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center flex-column">
      <h3 class="text-center">Our team</h3>
      <hr>
    </div>
    <div class="row">
      {% for member in site.team %}
        <div class="col d-flex flex-column align-items-center team-member">
          <img src="{{ member.image }}" alt="{{ member.title }}" class="photo">
          <h4 class="text-center">{{ member.title }}</h4>
          <h5 class="text-center">{{ member.role }}</h5>
        </div>
      {% endfor %}
      <div class="col d-flex flex-column align-items-center team-member">
        <img src="{{ "/assets/media/silhouette.jpg" | relative_url }}" alt="Silhouette" class="photo">
        <h4>You?</h4>
        <h5>
          <a href="mailto:hello@orangejellyfish.com">We're hiring!</a>
        </h5>
      </div>
    </div>
  </div>
</div>
<div class="section section-tech">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center flex-column">
      <h3 class="text-center">Tech we enjoy</h3>
      <hr>
    </div>
    <div class="row">
      {% for tech in site.tech %}
        <div class="col">
          <div class="tech-logo d-flex justify-content-center align-items-center">
            <img src="{{ tech.logo | relative_url }}" alt="{{ tech.name }}" width="{{ tech.logo_width }}px" height="{{ tech.logo_width }}px">
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
