.jumbotron {
  text-align: center;
  margin-bottom: 0;

  @include media-breakpoint-down(md) {
    padding: 2rem 1rem;
    padding-bottom: 40px;

    h2 {
      font-size: 42px;
      padding-bottom: 48px;
    }
  }
}

.jumbotron-video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -100;
}

.jumbotron-video {
  position: absolute;
  z-index: -100;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.jumbotron-video-overlay {
  position: absolute;
  z-index: -99;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
