.jumbotron {
  text-align: center;
  background-color: transparent;

  p {
    font-size: 24px;
  }
}

.jumbotron-video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height:900px;
  overflow: hidden;
  z-index: -100;
}

.jumbotron-video {
  position: absolute;
  z-index: -100;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.jumbotron-video-overlay {
  position: absolute;
  z-index: -99;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
