.navbar {
  font-family: "Sofia Pro Soft", sans-serif;
}

.navbar-nav {
  $nav-link-border: 4px solid $color-orangejellyfish;

  font-size: 1.25em;

  .nav-item + .nav-item {
    padding-left: 35px;
  }

  .nav-item.active .nav-link {
    border-bottom: $nav-link-border;
  }

  .nav-link:hover {
    border-bottom: $nav-link-border;
  }
}
